.menus {
  font-family: "BrandonText-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .item:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} */

#menus {
  display: flex;
  justify-content: center;
}

#wrapper1 {
  width: 600px;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgb(216, 217, 219);
}

#wrapper2 {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  flex-basis: 300px;
  height: 50px;
  font-family: "BrandonText-Regular";
}

.typeBar {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid rgb(216, 217, 219);
  border-top: 1px solid rgb(216, 217, 219);
}

#verticalSpacer {
  height: 30px;
}

#poweredBy {
  width: 110px;
  height: 20px;
}

#lastUpdated {
  font-size: 10px;
  font-weight: 500;
  color: #2d333f;
}

#poweredByDiv {
  font-size: 12px;
  font-weight: 500;
  color: #2d333f;
  display: flex;
  justify-content: baseline;
}

#menuBottom {
  display: flex;
  justify-content: space-between;
  height: 100px;
  border-top: 1px solid rgb(216, 217, 219);
}

.spacer {
  flex-grow: 0.05;
}

.buttons {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #2d333f;
  border: 1px solid #d8d9db;
  border-radius: 2px;
  padding: 8px 16px;
  display: inline-block;
  box-sizing: border-box;
}

.dishName {
  display: flex;
  justify-content: space-between;
}

.price {
  flex: 1;
  font-weight: bolder;
  font-size: 12px;
}

.dname {
  flex: 2;
  font-weight: bolder;
  font-size: 12px;
}

.ingredients {
  font-size: 14px;
}

#stickyButton {
  width: 200px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #2d333f;
  border: 1px solid #d8d9db;
  border-radius: 2px;
  padding: 8px 16px;
  display: inline-block;
  box-sizing: border-box;
}
#stickyButton:hover{
  border: 2px solid;
  border-color: red;
}
#colButton {
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.headers {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: "BrandonText-Regular";

}

#line {
  color: gainsboro;
}

html {
  scroll-behavior: smooth;
}

#blur {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 70px 0;

  background-image: linear-gradient(to bottom, transparent, white);
}