node_modules
public/bundle.js
proxy
Dockerfile
public/bundle.js.br
public/bundle.js.gz
.eslintrc.json
.DS_Store
database/config.js
database/menu.csv
database/restaurant.txt
database/restaurantShort.txt