.item:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#app {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.item {
  flex-basis: 300px;
  height: 60px;

}

.dish_name {
  display: flex;
  justify-content: space-between;
}

.price {
  flex: 1;
}

.dname {
  flex: 2;
}